[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {version = "*", extras = ["standard"]}
strawberry-graphql = "*"
tortoise-orm = {version = "*", extras = ["asyncpg"]}
aerich = "*"
python-dotenv = "==1.0.1"

[dev-packages]

[requires]
python_version = "3.11"
