[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {version = "*", extras = ["standard"]}
strawberry-graphql = "*"
tortoise-orm = {version = "*", extras = ["asyncpg"]}
aerich = "*"
python-dotenv = "==1.0.1"
pydantic = {version = "*", extras = ["email"]}
pyjwt = "*"
bcrypt = "*"
cryptography = "*"
fastapi-mail = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.11"
