[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.110.0"
uvicorn = "==0.29.0"
strawberry-graphql = "==0.221.1"
tortoise-orm = "==0.20.0"
aerich = "==0.7.2"
python-dotenv = "==1.0.1"
pydantic = "==2.6.4"
pyjwt = "==2.8.0"
bcrypt = "==4.1.2"
cryptography = "==42.0.5"
fastapi-mail = "==1.4.1"
fastapi-pagination = "==0.12.21"
asyncpg = "==0.29.0"
email-validator = "==2.1.1"

[dev-packages]
black = "==24.3.0"

[requires]
python_version = "3.11"
