{% extends "emails/base.html" %} {% block content %}

<div class="content">
  <p>Hi {{name}},</p>
  <p>
    We're thrilled to welcome you to Our system! With this powerful tool, you
    can easily manage your projects, collaborate with your team, and stay on top
    of deadlines.
  </p>
  <p>Here are some of the things you can do with our system:</p>
  <ul>
    <li>Create and manage projects of all sizes</li>
    <li>Assign tasks and track progress</li>
    <li>Communicate with your team in real-time</li>
    <li>Share files and documents</li>
    <li>Stay organized and efficient</li>
  </ul>
  <p>To get started, activate your account below</p>

  <div class="activate-container">
    <a href="{{activation_url}}">
      <button class="btn">Activate Account</button>
    </a>
  </div>
  <p>
    If you have any questions, please don't hesitate to contact our support team
    at <a href="mailto:daudnamayala@gmail.com">daudnamayala@gmail.com</a> or
    visit our website at <a href="http://daudln.vercel.com">Daud Namayala</a>.
  </p>
  <p>
    We're confident that Our system will help you achieve your project goals.
    Happy collaborating!
  </p>
</div>

{% endblock content %}
