{% extends "emails/base.html" %}

{% block content %}

<div class="content">
    <p>Hi {{name}},</p>
    <p>We're thrilled to welcome you to [Project Management System Name]! With this powerful tool, you can easily manage your projects, collaborate with your team, and stay on top of deadlines.</p>
    <p>Here are some of the things you can do with [Project Management System Name]:</p>
    <ul>
      <li>Create and manage projects of all sizes</li>
      <li>Assign tasks and track progress</li>
      <li>Communicate with your team in real-time</li>
      <li>Share files and documents</li>
      <li>Stay organized and efficient</li>
    </ul>
    <p>To get started, we recommend checking out our helpful resources:</p>
    <ul>
      <li><a href="#">Getting Started Guide</a></li>
      <li><a href="#">Knowledge Base</a></li>
      <li><a href="#">Video Tutorials</a></li>
    </ul>
    <p>If you have any questions, please don't hesitate to contact our support team at [Support Email Address] or visit our website at [Website URL].</p>
    <p>We're confident that [Project Management System Name] will help you achieve your project goals. Happy collaborating!</p>
  </div>
  
{% endblock content %}